<div class="container">

    <div class="border border-white rounded p-4">
        <div class="text-center">
            <h5>Current Weather for:</h5>
            <span><strong>{{ city }} {{ country }}</strong></span>
        </div>
            
        <div class="border border-white p-3 text-center">
            <div class="mx-auto d-block">
                <!-- City: {{ city }}
                <br>
                Country: {{ country }}
                <br> -->
                Humidity: {{ humidity }}
                <br>
                Temperature (Average): {{ humidity }}
                <br>
                Temperature (High): {{ tempMax }}
                <br>
                Temperature (Low): {{ tempMin }}
                <br>
                Status: {{ status }}
            </div>
        </div>
    <div>

</div>
    